logs/Board.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Game">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Model">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Player">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:byte" name="x"/>
                      <xs:attribute type="xs:byte" name="y"/>
                      <xs:attribute type="xs:string" name="AIModel"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="RedGhost">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:byte" name="x"/>
                      <xs:attribute type="xs:byte" name="y"/>
                      <xs:attribute type="xs:string" name="AIModel"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="BlueGhost">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:byte" name="x"/>
                      <xs:attribute type="xs:byte" name="y"/>
                      <xs:attribute type="xs:string" name="AIModel"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Board">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Backgrounds">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Background" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="x" use="optional"/>
                                  <xs:attribute type="xs:byte" name="y" use="optional"/>
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Tokens">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="Token">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="x" use="optional"/>
                                  <xs:attribute type="xs:byte" name="y" use="optional"/>
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                  <xs:attribute type="xs:byte" name="pointValue" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="height"/>
                  <xs:attribute type="xs:byte" name="width"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="automatePlayer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>